body{
  background-color: #D9D9D9;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container{
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 15px;
}

.gist-card{
  background-color: #373636;
  width: 400px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 0px #686767;
  cursor: pointer;
}

.gist-card .title{
  color: #686767;
  position: relative;
  font-size: 20px;
}

.gist-card .forks{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gist-card span{
  color: white;
  position: relative;
  font-size: 10px;
}

.gist-card .image{
  width: 10%;
  height: 10%;
}

.gist-card .forks .user{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inspect {
  z-index:5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inspect .gist {
  background-color: black;
  z-index: 1000;
  width: 50%;
  height: 50%;
  overflow: scroll;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}

input{
  width: 50%;
  background: #373636;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  padding: 15px 20px;
  font-size: 18px;
  letter-spacing: 0.8px;
}

button{
  border: none;
  background-color: #373636;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: Clash Display;
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0px 0px 0px #686767;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover{
  transform: translateY(-4px);
  box-shadow: 0px 4px 0px #686767;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:active{
  transform: translateY(4px);
  box-shadow: 0px 0px 0px #686767;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

